<template>
	<view>
		<!-- 顶部选项卡 -->
		<scroll-view scroll-x :scroll-into-view="scrollInto" scroll-with-animation
			class="scroll-row border-bottom border-light-secondary" style="height: 100rpx;">
			<view v-for="(item,index) in tabBars" :key="index" class="scroll-row-item px-3 py-2 font-md"
				:id="'tab'+index" :class="tabIndex === index?'text-main font-lg font-weight-bold':''"
				@click="changeTab(index)">{{item.name}}</view>
		</scroll-view>

		<swiper :duration="150" :current="tabIndex" @change="onChangeTab" :style="'height:'+scrollH+'px;'">
			<swiper-item v-for="(item,index) in newsList" :key="index">
				<scroll-view scroll-y="true" :style="'height:'+scrollH+'px;'" @scrolltolower="loadmore(index)">

					<template v-if="item.list.length > 0">
						<!-- 列表 -->
						<block v-for="(item2,index2) in item.list" :key="index2">
							<!-- 列表样式 -->
							<common-list :item="item2" :index="index2" @follow="follow" @doSupport="doSupport"
								@doComment="doComment" @doShare="doShare">
							</common-list>
							<!-- 全局分割线 -->
							<divider></divider>
						</block>
						<!-- 上拉加载 -->
						<load-more :loadmore="item.loadmore"></load-more>
					</template>
					<!-- 无数据 -->
					<template v-else>
						<no-thing></no-thing>
					</template>
				</scroll-view>
			</swiper-item>
		</swiper>
		<!-- <bottom-input v-show='showInput' submit="submit"></bottom-input> -->
	</view>
</template>

<script>
	
	import bottomInput from '@/components/common/bottom-input.vue';
	import commonList from '@/components/common/common-list.vue';
	import loadMore from '@/components/common/load-more.vue';
	export default {
		components: {
			commonList,
			loadMore,
			bottomInput,
		},
		data() {
			return {
				// 是否显示输入框
				showInput:false,
				// 列表高度
				scrollH: 600,
				// 顶部选项卡
				scrollInto: "",
				tabIndex: 0,
				tabBars: [{
					name: '关注',
				}, {
					name: '推荐',
				}, {
					name: '体育',
				}, {
					name: '热点',
				}, {
					name: '财经',
				}, {
					name: '娱乐',
				}, {
					name: '军事',
				}, {
					name: '历史',
				}, {
					name: '本地',
				}],
				newsList: []
			}
		},
		// 监听点击导航栏搜索框
		onNavigationBarSearchInputClicked() {
			uni.navigateTo({
				url: '../search/search?type=post',
			})
		},
		// 监听导航按钮点击事件
		onNavigationBarButtonTap() {
			uni.navigateTo({
				url: '../add-input/add-input',
			})
		},
		onLoad() {
			uni.$on('supportdetail', (info) => {
				// 同步首页的点赞信息,由detail页面发送过来的
				this.newsList[0].list[info.id].support = info.support
			})
			uni.$on('supportnews', (info) => {
				// 同步首页的点赞信息,由detail页面发送过来的
				this.newsList[0].list[info.id].support = info.support
			})
			
			uni.getSystemInfo({
				success: res => {
					this.scrollH = res.windowHeight - uni.upx2px(101)
				}
			})
			// 根据选项生成列表
			this.getData()
		},
		methods: {
			submit(){
				this.showInput=!this.showInput
				// console.log(this.showInput)
			},
			doComment() {
				// 在index页面点击评论，有comment-list触发此事件
				console.log('hahah')
			},
			doShare() {
				// 在index页面分享
				uni.share({
					provider: "weixin",
					scene: "WXSceneTimeline",
					type: 0,
					href: "http://uniapp.dcloud.io/",
					title: "uni-app分享",
					summary: "快来Releax yourself！",
					imageUrl: "https://bjetxgzv.cdn.bspapp.com/VKCEYUGU-uni-app-doc/d8590190-4f28-11eb-b680-7980c8a877b8.png",
					success: function(res) {
						console.log("success:" + JSON.stringify(res));
					},
					fail: function(err) {
						console.log("fail:" + JSON.stringify(err));
					}
				});
			},
			// 获取数据
			getData() {
				var arr = []
				for (let i = 0; i < this.tabBars.length; i++) {
					// 生成列表模板
					let obj = {
						// 1.上拉加载更多  2.加载中... 3.没有更多了
						loadmore: "上拉加载更多",
						list: []
					}
					// 只给前两个tab,即关注和动态初始化数据
					if (i < 2) {
						obj.list = this.$store.getters.getFollowInfo
					}
					arr.push(obj)
				}
				this.newsList = arr
			},
			// 监听滑动
			onChangeTab(e) {
				this.changeTab(e.detail.current)
			},
			// 切换选项
			changeTab(index) {
				if (this.tabIndex === index) {
					return;
				}
				this.tabIndex = index
				// 滚动到指定元素
				this.scrollInto = 'tab' + index
			},
			// 关注
			follow(e) {
				// 拿到当前的选项卡对应的list
				let list = this.newsList[this.tabIndex].list
				list[e].isFollow = true
				uni.showToast({
					title: '关注成功'
				})
			},
			// 顶踩操作
			doSupport(e) {
				// 拿到当前的选项卡对应的list
				let list = this.newsList[this.tabIndex].list
				// 拿到当前对象
				let item = list[e.index]
				let msg = e.type === 'support' ? '顶' : '踩'
				// 如果没有操作
				if (item.support.type === '') {
					item.support[e.type + '_count']++
					item.support.type = e.type
					item.support.click_two = true
					if (e.type === 'support') {
						uni.showToast({
							title: '点赞成功',
							duration: 1000
						})
					} else {
						// uni.showToast({
						// 	title:'踩成功',
						// 	duration:1000
						// })
					}
				} else if (item.support.type === 'unsupport' && e.type === 'unsupport' && item.support.click_two) {

					item.support.unsupport_count--;
					item.support.click_two = false
					item.support.type = ''
					// uni.showToast({
					// 	title:'取消踩',
					// 	duration:1000
					// })
				} else if (item.support.type === 'support' && e.type === 'support' && item.support.click_two) {

					item.support.support_count--;
					item.support.click_two = false
					item.support.type = ''
					// uni.showToast({
					// 	title:'取消点赞',
					// 	duration:1000
					// })

				} else if (item.support.type === 'support' && e.type === 'unsupport') {
					item.support.support_count--;
					item.support.unsupport_count++;
					item.support.click_two = true
					item.support.type = e.type
					// uni.showToast({
					// 	title:'踩成功',
					// 	duration:1000
					// })
				} else if (item.support.type === 'unsupport' && e.type === 'support') {
					item.support.support_count++;
					item.support.unsupport_count--;
					item.support.click_two = true
					item.support.type = e.type
					uni.showToast({
						title: '点赞成功',
						duration: 1000
					})
				}
				this.$store.commit('setFollowInfo',item)

			},
			// 上拉加载更多
			loadmore(index) {
				// 拿到当前列表
				let item = this.newsList[index]
				// 判断是否处于可加载状态（上拉加载更多）
				if (item.loadmore !== '上拉加载更多') return;
				// 修改当前列表加载状态
				item.loadmore = '加载中...'
				// 模拟数据请求
				setTimeout(() => {
					// 加载数据
					item.list = [...item.list, ...item.list]
					// 恢复加载状态
					item.loadmore = '上拉加载更多'
				}, 3000)
			}
		}
	}
</script>

<style>

</style>
