<template>
	<view>
		<!-- 帖子详情页详细信息 -->
		<common-list :item="info" isdetail @follow="follow" @doSupport="doSupport" @doComment="doComment"
			@doShare="doShare">
			<view>{{info.content}}</view>
			<view>
				<image v-for="(item,index) in info.images" :key="index" @click="preview(index)" :src="item.url"
					class="w-100" mode="widthFix"></image>
			</view>
		</common-list>

		<divider></divider>
		<view class="p-2 font-md font-weight-bold">
			最新评论
		</view>
		<view class="px-2">
			<view class="uni-comment-list" v-for="(item,index) in info.comments" :key="index">
				<view class="uni-comment-face">
					<image :src="item.userpic" mode="widthFix"></image>
				</view>
				<view class="uni-comment-body">
					<view class="uni-comment-top">
						<text>{{Object.keys(item)[0]}}</text>
					</view>
					<view class="uni-comment-content">{{Object.values(item)[0]}}</view>
					<view class="uni-comment-date">
						<view>{{item.date}}</view>
					</view>
				</view>
			</view>
		</view>

		<!-- 占位 -->
		<view style="height: 100rpx;"></view>
		<bottom-input  @submit="submit"></bottom-input>

		<more-share ref="share"></more-share>

	</view>
</template>

<script>
	import commonList from '@/components/common/common-list.vue';
	import bottomInput from '@/components/common/bottom-input.vue';
	import moreShare from '@/components/common/more-share.vue';
	export default {
		components: {
			commonList,
			bottomInput,
			moreShare
		},
		data() {
			return {
				//评论头像位置
				userpicpath: "/static/demo/topicpic/",
				//当前帖子信息
				info: {
					id: Number,
					username: "昵称",
					userpic: "/static/default.jpg",
					newstime: "2020-07-20 下午04:30",
					// 为false时出现关注图案
					isFollow: true,
					title: "太完美主义降低了做事效率怎么办？",
					titlepic: "/static/demo/datapic/1.jpg",
					support: {
						type: "support", // 顶
						support_count: 1,
						unsupport_count: 2
					},
					comment_count: 0,
					share_num: 2,
					content: "题记：当我们说完美主义降低了做事效率时，通常有两个问题：1.因为过于追求完美，把事情想得很复杂而迟迟不愿意开始行动，导致拖延。2.因为追求全部的完美，在不影响大局的细节上过多纠结，反而影响事情的闭环和整体效率。解决方法：1.用'无所得心'做简单的事，解决拖延。2.用全局观+迭代思维提高整体效率。",
					images: [{
						url: "/static/demo/datapic/41.jpg"
					}, {
						url: "/static/demo/datapic/38.jpg"
					}],
					comments: [{
							'那我走了': 'yyds',
							userpic: '/static/demo/topicpic/3.jpeg',
							date: '刚刚'
						},
						{
							'夜空中': '很棒!!',
							userpic: '/static/demo/topicpic/2.jpeg',
							date: '2021/12/26'
						},
						{
							'一枝花': '写的真好!',
							userpic: '/static/demo/topicpic/1.jpeg',
							date: '2022/1/29'
						},
					]
				}
			}
		},
		computed: {
			commentLen: function() {
				return this.info.comments.length
			},
		},
		onLoad(e) {
			// 初始化
			if (e.detail) {
				let temp_data=JSON.parse(e.detail)
				this.info.support = temp_data.support
				this.info.username = temp_data.username
				this.info.id = temp_data.id
				this.info.userpic = temp_data.userpic
				this.__init(temp_data)
				// this.info.support=e.detail.support
			}
		},
		onUnload() {
			uni.$emit('supportdetail', {
				support: this.info.support,
				id: this.info.id
			})
		},
		computed: {
			imagesList() {
				return this.info.images.map(item => item.url)
			}
		},
		onNavigationBarButtonTap() {
			this.$refs.share.open()
		},
		onBackPress() {
			this.$refs.share.close()
		},
		methods: {
			__init(data) {
				// 修改标题
				uni.setNavigationBarTitle({
					title: data.title
				})
				// 请求api
			},
			// 点击评论，也是由common-list发出的doComment事件触发
			doComment() {
				
			},
			// 点击分享,注意在电脑端调试时，会提示 share()没有实现，但是安装到手机上或者模拟器中国是可以分享的
			doShare() {
				// 可以分享到微信、QQ、微博，每个社交平台被称为分享服务提供商，即provider。
				// type的值
				// 0	图文	weixin、sinaweibo
				// 1	纯文字	weixin、qq
				// 2	纯图片	weixin、qq
				// 3	音乐	weixin、qq
				// 4	视频	weixin、sinaweibo
				// 5	小程序	weixin
				// scene的值
				// WXSceneSession	分享到聊天界面
				// WXSceneTimeline	分享到朋友圈
				// WXSceneFavorite	分享到微信收藏
				uni.share({
					provider: "weixin",
					scene: "WXSceneTimeline",
					type: 0,
					href: "http://uniapp.dcloud.io/",
					title: "uni-app分享",
					summary: "我正在使用HBuilderX开发uni-app，赶紧跟我一起来体验！",
					imageUrl: "https://bjetxgzv.cdn.bspapp.com/VKCEYUGU-uni-app-doc/d8590190-4f28-11eb-b680-7980c8a877b8.png",
					success: function(res) {
						console.log("success:" + JSON.stringify(res));
					},
					fail: function(err) {
						console.log("fail:" + JSON.stringify(err));
					}
				});
			},
			// 关注
			follow() {
				this.info.isFollow = true
				uni.showToast({
					title: '关注成功'
				});
			},
			// 顶踩操作
			doSupport(e) {
				let item = this.info;
				let msg = e.type === 'support' ? '顶' : '踩'
				// 如果没有操作
				if (item.support.type === '') {
					item.support[e.type + '_count']++
					item.support.type = e.type
					item.support.click_two = true
					if (e.type === 'support') {
						uni.showToast({
							title: '点赞成功',
							duration: 1000
						})
					} else {
						// uni.showToast({
						// 	title:'踩成功',
						// 	duration:1000
						// })
					}
				} else if (item.support.type === 'unsupport' && e.type === 'unsupport' && item.support.click_two) {

					item.support.unsupport_count--;
					item.support.click_two = false
					item.support.type = ''
					// uni.showToast({
					// 	title:'取消踩',
					// 	duration:1000
					// })
				} else if (item.support.type === 'support' && e.type === 'support' && item.support.click_two) {

					item.support.support_count--;
					item.support.click_two = false
					item.support.type = ''
					// uni.showToast({
					// 	title:'取消点赞',
					// 	duration:1000
					// })

				} else if (item.support.type === 'support' && e.type === 'unsupport') {
					item.support.support_count--;
					item.support.unsupport_count++;
					item.support.click_two = true
					item.support.type = e.type
					// uni.showToast({
					// 	title:'踩成功',
					// 	duration:1000
					// })
				} else if (item.support.type === 'unsupport' && e.type === 'support') {
					item.support.support_count++;
					item.support.unsupport_count--;
					item.support.click_two = true
					item.support.type = e.type
					uni.showToast({
						title: '点赞成功',
						duration: 1000
					})
				}

			},
			// 预览图片
			preview(index) {
				// 预览图片
				uni.previewImage({
					current: index,
					urls: this.imagesList
				});
			},
			// 提交评论
			submit(data) {
				this.info.comments.unshift({
					'我': data,
					userpic: '/static/demo/topicpic/4.jpeg',
					date: new Date().toLocaleDateString(),
				})
			}
		}
	}
</script>

<style>

</style>
