<template>
	<view>
		<!-- 消息列表 -->
		<template v-if="list.length>0">
			<block v-for="(item,index) in list" :key="index">

				<u-swipe-action>
					<u-swipe-action-item :options="options2" @click="onClick($event,index)">
						<view>
							<text>
								<msg-list :item="item" :index="index" @click.native="change(index)">
								</msg-list>
							</text>
						</view>
					</u-swipe-action-item>
				</u-swipe-action>
			</block>
		</template>

		<!-- 弹出层 -->
		<uni-popup ref="popup" type="top">
			<view class="flex text-center justify-center font-md border-bottom py-2" hover-class="bg-light"
				@click="popupEvent('friend')">
				<text class="iconfont icon-sousuo mr-2"></text>
				添加好友
			</view>
			<view class="flex text-center justify-center font-md py-2" hover-class="bg-light"
				@click="popupEvent('clear')">
				<text class="iconfont icon-shanchu mr-2"></text>
				清除列表
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import msgList from '@/components/msg/msg-list.vue';
	import noThing from '@/components/common/no-thing.vue';
	import uniPopup from '@/components/uni-ui/uni-popup/uni-popup.vue';

	export default {
		components: {
			msgList,
			noThing,
			uniPopup
		},
		data() {
			return {
				list: [],
				options2: [{
					text: '置顶',
					style: {
						backgroundColor: '#3c9cff'
					}
				}, {
					text: '删除',
					style: {
						backgroundColor: '#f56c6c'
					}
				}],
			};
		},
		//页面加载
		onLoad() {
			this.list = this.$store.getters.getMsg;
		},
		//监听下拉刷新
		onPullDownRefresh() {
			this.refresh()
		},
		//监听原生导航栏按钮事件
		onNavigationBarButtonTap(e) {
			// console.log(e.index)
			switch (e.index) {
				case 0: //左边
					uni.navigateTo({
						url: '../user-list/user-list'
					})
					this.$refs.popup.close();
					break;
				case 1: //右边
					this.$refs.popup.open();
					break;
			}
		},

		methods: {
			// 点击某个好友，未读消息数量消失
			change(index) {
				this.list[index]['noread'] = ''
			},
			onClick(e, index) {
				if (e.index === 0) {
					// 深拷贝
					var temp_list = this.list.slice(0)
					let temp = temp_list[index]
					for (let i = index; i > 0; i--) {
						temp_list[i] = temp_list[i - 1]
					}
					temp_list[0] = temp
					this.list = temp_list
				}
				if (e.index === 1) {
					this.list.splice(index, 1)
				}
			},

			//下拉刷新
			refresh() {
				setTimeout(() => {
					this.list = this.$store.getters.getMsg;
					//停止下拉刷新
					uni.stopPullDownRefresh()
				}, 1500)
			},
			//弹出层选项点击事件
			popupEvent(e) {
				switch (e) {
					case 'friend':
						uni.navigateTo({
							url: '../search/search?type=user'
						});
						break;
					case 'clear':
						console.log('清除列表')
						// this.list=[]
						break;
				}
				//关闭弹出层
				this.$refs.popup.close()
			}
		}
	}
</script>

<style lang="scss">
	.u-page {
		padding: 0;
	}

	.u-demo-block__title {
		padding: 10px 0 2px 15px;
	}

	.swipe-action {
		&__content {
			padding: 25rpx 0;

			&__text {
				font-size: 15px;
				color: $u-main-color;
				padding-left: 30rpx;
			}
		}
	}
</style>
