<template>
	<view>
		<!-- 一个scroll-into-view里面是components的时候不起作用，一个是scroll-into-view不支持动态插入元素，只是一次性的首次加载页面后的scroll

只能去算内容宽度用scrollTop了 -->
		<!-- 聊天列表 -->
		<scroll-view scroll-y="true" style="position: absolute;left: 0;top: 0;right: 0;bottom: 100rpx;"
			:scroll-into-view="scrollInto" scroll-with-animation="true">

			<block v-for="(item,index) in list" :key="index">
				<view :id="'chat'+index">
					<user-chat-list :item="item" :index="index" :pretime="index > 0 ? list[index-1].create_time : 0">
					</user-chat-list>
				</view>
			</block>

		</scroll-view>

		<!-- 底部操作条 -->
		<bottom-input @submit="submit"></bottom-input>

	</view>
</template>

<script>
	import userChatList from '@/components/user-chat/user-chat-list.vue';
	import bottomInput from '@/components/common/bottom-input.vue';
	export default {
		components: {
			userChatList,
			bottomInput
		},
		data() {
			return {
				scrollInto: "",
				list: [{
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 2,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}, {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					data: "你好啊",
					type: "text",
					create_time: 1570783530
				}]
			}
		},
		// 页面加载完成的时候
		onReady() {
			this.pageToBottom()
		},
		methods: {
			// 发送
			submit(data) {
				let obj = {
					user_id: 1,
					avatar: "/static/default.jpg",
					username: "昵称",
					type: "text",
					data: data,
					create_time: (new Date()).getTime()
				}
				this.list.push(obj)
				// 滚动到底部,在定时器中，才可以自动下滑scroll,奇葩
				setTimeout(() => {
					this.pageToBottom();
				}, 100)

				// this.pageToBottom()

			},
			// 滚动到底部
			pageToBottom() {
				if (this.list.length - 1 < 0) return;
				this.scrollInto = 'chat' + (this.list.length - 1)
			}
		}
	}
</script>

<style>

</style>
